@charset "utf-8";
/* CSS Document */

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

@-ms-viewport {
	width: device-width;
	max-width: device-width;
	min-width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
	min-zoom: 1.0;
	user-zoom: fixed;
	orientation: auto;
}
@viewport {
	width: device-width;
	max-width: device-width;
	min-width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
	min-zoom: 1.0;
	user-zoom: fixed;
	orientation: auto;
}

body {
	margin: 0;
	padding: 0;
}

#page {
	margin: 5% 0;
	padding-bottom: 55px;
	width: 100%;
}

#content {
	position: relative;
	
	margin: 0 auto;
	padding: 0;
	width: 95%;
	max-width: 987px;
}

#footer {
	position: fixed;
	bottom: 0;
	
	border-top: 2px solid #ccc;
	padding: 13px 0;
	width: 100%;
	
	text-align: center;
	background-color: #f3f3f3;
}

a {
	color: #458c43;
}

a:hover {
	color: #458c43;
}

.golden-ratio-left {
	width: 38% !important;
}

.golden-ratio-right {
	width: 62% !important;
}

.logo {
	border: 0;
	height: 34px;
}