/*
 * Robert Williams
 * Copyright 2014
 */

body {
	margin: 0;
	padding : 0;
	
	text-align: center;
}

.video-box {
	margin: 20px auto;
	padding: 0;
	width: 800px;
}

.video {
	margin: 0;
	padding: 0;
	width: 100%;
	
	cursor: url("/pause_cursor.png"), auto;
}

.video-bar {
	position: relative;
	top: -5px;
	
	height: 15px;
	width: 100%;
}

.video-bar:hover {
	cursor: text;
}

.video-progress {
	position: absolute;
	
	width: 0;
	height: 3px;
	
	background-color: #58b255;
}