@charset "utf-8";
/* CSS Document */

#sidebar {
	text-align: center;
}

#center {
	padding-top: 13px;
}

.profile {
	width: 233px;
	
	-webkit-border-radius: 116px;
	-moz-border-radius: 116px;
	border-radius: 116px;
}

p {
	color: #333;
	font-family: "Oxygen", Helvetica, Sans-Serif;
	font-size: 17px;
	font-weight: 400;
}