<comp template="../template.comp.html" title="Focus in Politics">
    <h2>Focus in Politics (7 Jun 2020)</h2>

    <p>
        Politics is not about voicing the best ideas. Politics is about directing the focus of the conversation.
    </p>

    <p>
        Take, for example, the protests occurring across the country, and the heavy-handed response of many political leaders. By selecting a certain focus, one can see that both sides have valid claims and acceptable actions.
    </p>

    <p>
        The protesters focus on institutional injustice that has been afflicting the Black community, and other American citizens, for centuries. The United States of America since its inception has been focused on freedom and equality for all white, property-owning males. Over the years these privileges, which are basic human rights, were extended to other white males, people of color, and eventually women as well. Just as the American Revolutionary War required visionary leaders, sacrifice, and fighting, so have later efforts to extend the blessings of liberty to more citizens of this great country (e.g. the Civil War, the Women's Suffrage Movement, and the Civil Rights Movement). The goal of the current protesters is greater freedom and equality for all citizens of the United States. It is a noble goal. What American politician could disagree with that goal?
    </p>

    <p>
        Certain political leaders who control police and military forces throughout the United States focus on protecting public and private property. (They may also focus on preserving their own political power. That is a corrupt and disgraceful focus--a focus completely antithetical to the Constitution of the United States.) Protecting property is important. It is one of Locke's three basic rights, along with life and liberty. I want to live in a society where I know that my property is safe. Protecting property is a noble goal.
    </p>

    <p>
        Politics is not about voicing the best ideas. Both sides--the protesters and the powerful leaders--have good ideas. Politics is about directing focus. Successful politicians (not necessarily morally good or bad) can direct focus in their own interest. I think that focusing on the goals of the protesters is more important for improving America than focusing on the goals of the militant leaders. Property is important, and freedom and equality are more important. I think that most protesters are good people who want their political leaders to listen to their pleas for change. Let us all be (morally) good politicians and focus on what is most important: freedom and equality.
    </p>

    <hr/>

    <h4>Further Notes</h4>

    <p>
Republicans and Democrats agree on most outcomes. They want America to be safer, more prosperous, and a place of opportunity for all its citizens. Divisive politicians seek to divide and conquer America by focusing on less-important, more-toxic issues such as immigration, abortion, etc. These are important issues, and there are other, more important issues that divisive politicians do not focus on: education, poverty, equality. These more important issues are easier to agree on, so they are less attractive to politicians whose tactic is to divide people. What issues do the politicians that you support focus on? Are they the most important issues? Do they seek to divide people? Do they seek to unite people? Are they making progress to improve America? If I vote for a Democratic or Republican candidate, I hope she/he improves America for everyone, not just for those who belong to her/his party.
    <p>
</comp>
