<comp template="template.comp.html" title="Robert Williams -- Book List">
    <h2>Book List</h2>

    <p>Don't discount a book because I'm bad at writing one-sentence summaries. I have read all the books on this list and I like them. If I don't like a book, I don't put it on the list.</p>

    <ul style="line-height: 150%">
        <li>
            <comp template="book.comp.html"
                  title="The Alchemist"
                  author="Paolo Coehlo"
                  description="When you want something, all the universe conspires in helping you achieve it."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Anna Karenina"
                  author="Leo Tolstoy"
                  description="Stories of families--happy and unhappy--told from the thoughts and feelings of their members."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Antifragile"
                  author="Nassim Taleb"
                  description="Fragile things are hurt by variation and randomness, while antifragile things gain from them."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="ANSI Common Lisp"
                  author="Paul Graham"
                  description="A gentle and thorough introduction to Common Lisp, complete with exercises and examples."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Bel Canto"
                  author="Ann Patchett"
                  description="Militant rebels hold the attendees of a private opera concert hostage for months. Gripping and entertaining."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="The Black Swan"
                  author="Nassim Taleb"
                  description="Our world has a fractal design. A few large, uncertain events drive history."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="The Book of Mormon"
                  author="Collection of records compiled and abridged by Mormon"
                  description="I study this holy text everyday and it helps me come closer to Jesus Christ and be a better person."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="The Courage to be Disliked"
                  author="Ichiro Kishimi and Fumitake Koga"
                  description="The world is simple. People can change. All problems are interpersonal relationship problems. Happiness is a feeling of contribution."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="The Courage to be Happy"
                  author="Ichiro Kishimi and Fumitake Koga"
                  description="The goal of education is self-reliance. Love is the way to happiness."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Dealers of Lightning"
                  author="Michael A. Hiltzik"
                  description="How Xerox Parc attracted and created the most talented computer programmers and engineers in the world. They launched us into the computer age."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Dune"
                  author="Frank Herbert"
                  description="Science-fiction/fantasy page turner. Science, religion, treachery,  and cool fighting."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Factfulness"
                  author="Hans Rosling, Ola Rosling, and Anna Rosling Rönnlund"
                  description="Rosling helps us see the world as it really is. It highlights underrated problems and updates our world-view to be accurate for the world of today (2018)."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Frankenstein"
                  author="Mary Shelley"
                  description="A tale of the tragedy of unchecked ambition. And a commentary on the superficiality of humans."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="From Brokenness to Community"
                  author="Jean Vanier"
                  description="Jean Vanier teaches what it means to live and love in a community."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="A Gentleman in Moscow"
                  author="Amor Towles"
                  description="This novel is both funny and deeply satisfying, with many nuggets of pure gold throughout."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="The Great Divorce"
                  author="C.S. Lewis"
                  description="Lewis explores the nature of Heaven and Hell. Heaven is so real that it is more solid than anything on Earth. Hell is so much of nothing that one blade of grass in Heaven is bigger than all of Hell."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Hackers and Painters"
                  author="Paul Graham"
                  description="Essays full of insights about programming languages, computers, and startups."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="How Linux Works: What Every Superuser Should Know"
                  author="Brian Ward"
                  description="Comprehensive overview of the Linux kernel and userspace. I learned a lot from reading it even after years of using Linux."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="How Will You Measure Your Life"
                  author="Clayton M. Christensen"
                  description="Find out your purpose and pursue it. Make sure you want what you think you want. Follow a strategy and adapt to emergent opportunities."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="I Am Malala"
                  author="Malala Yousafzai"
                  description="Malala shares her personal story intertwined with the beautiful story of her people. She wants all people to have the basic human right to obtain education."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="I Know Why The Caged Bird Sings"
                  author="Maya Angelou"
                  description="Maya Angelou beautifully tells the story of her shockingly difficult childhood years. Her courage is inspiring."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Invisible Women"
                  author="Caroline Criado-Perez"
                  description="Criado-Perez exposes the gender data gap in our world. Our current systems and mindsets are biased in myriad ways."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Middlemarch"
                  author="Marian Evans (aliased George Eliot)"
                  description="An omniscient view of the interpersonal relationships of the town. Illustrations of marriage, debt, pride, etc. All problems are interpersonal relationship problems :)"
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="A Moveable Feast"
                  author="Ernest Hemingway"
                  description="A vivid memoir of Hemingway's early days in Paris; his interactions with writers and poets and his young wife."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="A Place For Us"
                  author="Fatima Farheen Mirza"
                  description="Parents struggle to understand their children who are growing up under different circumstances than they did, and the children long for freedom."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="The Princess and the Goblin"
                  author="George MacDonald"
                  description="Inspiring fictional adventure filled with religious symbolism."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="The Prosperity Paradox"
                  author="Clayton M. Christensen"
                  description="This book offers a blueprint for making a more prosperous society: local innovations that meet real needs."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Rebecca"
                  author="Daphne du Maurier"
                  description="A well-written, gripping novel filled with longing, misunderstanding, and mystery."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Siddhartha"
                  author="Hermann Hesse"
                  description="An enlightening novel about spirituality and the quest for Nirvana."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Skin in the Game"
                  author="Nassim Taleb"
                  description="You only have good information if you interact directly with reality. If you won't personally experience the downside of your decisions, you will never learn to make good decisions."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Skunk Works"
                  author="Ben Rich and Leo Janos"
                  description="A personal memoir about the development of the Nighthawk, Blackbird, U2, and other planes at Lockeed's Skunk Works"
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Solve for Happy"
                  author="Mo Gawdat"
                  description="Achievable patterns of thought (and its absence) that allow you to be happy. Happiness is our default state, we just have to remove the barriers we've created for our own happiness."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="The Soul of a New Machine"
                  author="Tracy Kidder"
                  description="This is a brilliant piece of journalism and Kidder won the Pulitzer prize for it. It's a riveting tale of computer engineers."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Stargirl"
                  author="Jerry Spinelli"
                  description="Stargirl is a beautifully non-comformist, selfless teenager."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Surely You're Joking, Mr. Feynman"
                  author="Richard P. Feynman"
                  description="A prank-filled autobiography by an adventerous physicist."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="What Do You Care What Other People Think?"
                  author="Richard P. Feynman"
                  description="Stories from Feynman's upbringing, marriage, and the NASA Challenger investigation."
            />
        </li>

        <li>
            <comp template="book.comp.html"
                  title="Who Owns the Future?"
                  author="Jaron Lanier"
                  description="How to maintain a strong middle-class in the information economy."
            />
        </li>
    </ul>
</comp>
