<comp template="template.comp.html" title="Robert Williams">
    <h2>Links</h2>

    <ul style="line-height: 200%">
        <li><a href="http://news.ycombinator.com">Hacker News</a></li>
        <li><a href="/links.html">More Links...</a></li>
    </ul>

    <h2>Good Books</h2>

    <ul style="line-height: 200%">
        <li>
            <i>Invisible Women</i>
            <ul><li>Caroline Criado-Perez</li></ul>
        </li>
        <li>
            <i>The Courage to be Disliked</i>
            <ul><li>Ichiro Kishimi and Fumitake Koga</li></ul>
        </li>
        <li>
            <i>Skin in the Game</i>
            <ul><li>Nassim Taleb</li></ul>
        </li>
        <li>
            <i>Factfulness</i>
            <ul><li>Hans Rosling, Ola Rosling, and Anna Rosling Rönnlund</li></ul>
        </li>
        <li><a href="/books.html">More good books...</a></li>
    </ul>

    <h2>Writings</h2>

    <ul style="line-height: 200%">
        <li><a href="/writing/breaks.html">Breaks (11 Dec 2020)</a></li>
        <li><a href="/writing/2020.html">What I Learned in 2020 (7 Dec 2020)</a></li>
        <li><a href="/writing/ego.html">Ego (30 Nov 2020)</a></li>
        <li><a href="/writing/gratitude.html">Gratitude</a></li>
    </ul>

    <h2>Etc</h2>

    <ul style="line-height: 200%">
        <li><a href="https://git.sr.ht/~increscent/">sourcehut</a></li>
        <li><a href="https://github.com/increscent">Github</a></li>
        <li><a href="/recordings.html">Recordings</a></li>
        <li><a href="https://sr.ht/~mil/Sxmo">sxmo (I didn't make it; I just use it)</a></li>
    </ul>

</comp>
