<comp template="template.comp.html" title="Robert Williams -- Links">
    <h2>Blogs</h2>
    <ul style="line-height: 150%">
        <li>
            <comp template="link.comp.html"
                description="Robert Mustacchi: Unix, Hardware"
                href="https://fingolfin.org/blog/index.html"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="John Regehr: LLVM, Backpacking"
                href="https://blog.regehr.org/"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="Evan Klitzke: Linux"
                href="https://eklitzke.org/"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="Sasha Fedorova: Performance, Cooking"
                href="https://eklitzke.org/"
            />
        </li>
    </ul>

    <h2>Articles</h2>

    <ul style="line-height: 150%">
        <li>
            <comp template="link.comp.html"
                description="The computer revolution hasn't happened yet: Alan Kay speaks about his vision of how far computing can go"
                href="https://catonmat.net/videos/the-computer-revolution-hasnt-happened-yet"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="Reflections on Trusting Trust: lecture about how it's nearly impossible to fully trust software, even when you have the source code"
                href="https://dl.acm.org/doi/pdf/10.1145/358198.358210"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="Hilarious fictional book about an alternate reality that started diverging from our own in the 1960s"
                href="http://unsongbook.com/"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="How do you measure an employee's performance?"
                href="https://www.inc.com/magazine/20090101/how-hard-could-it-be-thanks-or-no-thanks.html"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="Be careful when designing APIs because they define ABIs. Tales about the stdio ABI."
                href="https://fingolfin.org/blog/20200327/stdio-abi.html"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="Secondary earners are penalized when filing taxes jointly."
                href="https://scholarship.shu.edu/cgi/viewcontent.cgi?article=1077&context=shlj"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="Standardized tests are written by lawyers and psychologists."
                href="http://adamcadre.ac/calendar/13/13956.html"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="Give your team members responsibilities, not tasks. That communicates trust which leads to better outcomes."
                href="http://adamard.com/little_tasks.html"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="Build an OS for the Raspberry Pi from the ground up."
                href="https://github.com/dddrrreee/cs140e-20win/"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="The dichotomy of contentment and ambition"
                href="https://jjude.com/contentment-and-ambition"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="You don't know a subject well until you've written about it."
                href="https://limitlesscuriosity.com/the-purpose-of-writing/"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="As the news becomes more polarized, it contains less information"
                href="https://www.turningchaos.com/essays/no-surprises-here"
            />
        </li>
        <li>
            <comp template="link.comp.html"
                description="You can improve your sense of meaning and fulfillment by better choosing how you spend your attention"
                href="https://mythirdbrain.substack.com/p/how-i-spend-my-attention"
            />
        </li>
    </ul>
</comp>
